//@import "bootstrap-sprockets";
@import "bootstrap";
//@import 'bootstrap/theme';

.test-button {
    margin-left: 173px;
}

.dropdown-toggle {
    color: #777 !important;
    font-weight: bold;
}

.dropdown-toggle:hover {
    color: #3333ff;
}

.navbar {
    background-color: #000000;
}

#logo {
    float: left;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
}

#logo:hover {
    color: #3333ff;
}

#menu {
    color: #777;
    font-weight: bold;
}

#menu:hover {
    color: #3333ff;
}

.center {
    text-align: center;
}

.jumbotron {
    background-color: #b3d1ff;
    background-size: cover;
    height: 550px;
}

.jumbotron h1 {
    text-align: center;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #000000;
}

.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}
    
.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}
